---
title: 'Components'
ticket: 'nr-456'
status: 'new'
---

extends layouts/default

block prototypeHead
    a(href="index.html") Templates

block content
    // Print out a variable from front matter
    h1= title

    h2 TOC
    ul
        each t in components
            li
                a(href= t.fileName)
                    = t.title

