doctype html
html.no-js
    head
        meta(charset='utf-8')
        title #{title} - #{settings.appName}
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        // Place favicon.ico and apple-touch-icon.png in the root directory

        // build:css styles/lib.css
        // bower:css
        // endbower
        // endbuild

        // build:css styles/app.css
        // inject:css
        // endinject
        // endbuild
    body

        block content

        // build:js scripts/lib.js
        // bower:js
        // endbower
        // endbuild

        // build:js scripts/app.js
        // inject:js
        // endinject
        // endbuild
